/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a li{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover li:hover{background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.downList {
    /* margin: 100px; */
}

.borderList {
    /* border-left:1px solid black; */
    padding-left:100px;
    margin-left: -1px !important;
     min-width: 500px;
     margin-left: 100px;
     margin-top: 20px;
     
 }

  .borderContent {
    padding: 50px;
    padding-bottom: 10px;
    /* border-left:1px solid black; */
    margin: 100px;
    min-width: 500px;
    margin-left: 100px;
    margin-top: 20px;
    margin-left: 100px;
 }
 
 .commentInput {
    min-width : 480px;
    margin-left: 20px !important;
    margin-bottom: 10px;
 }

.commentList{
   padding-left: 20px !important;
}

 
 .post{
     padding: 10px;
     margin: 5px;
     border: 1px solid gray;
     min-width: 550px;
     min-height: 100px;
 }

 .post .bottom {
     position:  relative;
     left:450px;
 }

 .commentBtn{
    border: none;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    
 }

 @media (min-width:1200px) {
    .content nav {
      width : 100%;
    }

    .borderContent {
        
        border: 3px solid aquamarine;
     }
  }

  @media (max-width:600px)
  {
   .borderList {
      border-left:0;
      padding-left:0;
      margin-left:0;
      min-width:400px;
      margin-left:0;
      margin-top: 20px;
   }

   .post{
      padding: 10px;
      margin: 5px;
      border: 1px solid gray;
      min-width: 350px;
      min-height: 100px;
  }

  }


  .borderCreate {
   border: 2px solid black;
   padding: 0;
  }

  .borderInner {
    border: 2px solid black;
    min-width: 500px;
    min-height: 200px;
    
  }


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.symbols {
  position: absolute;
  bottom: 0;
  right: 30px;
}

.boardCreat{
  min-width: 600px;
  min-height: 400px;
  border: 2px solid black;
}
